header {
    width: 100%;
}

.mobileBox label {
    width: 100%;
}

#checkMenu {
    display: none;
}

.menu ul, .mobileList ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    background-color: #999;
    border: 1px solid #ccc;
    justify-content: center;
}

.menu li, .mobileList li {
    display: block;
    padding: 18px 25px;
    color: white;
    font-size: 16px;
}

.menu li:hover, .mobileList li:hover {
    background-color: #808080;
    border: 1px solid #ccc;
}

.mobileBox {
    background-color: #999;
    border: 1px solid #ccc;
    padding: 0 1rem;
    margin: 1rem;
    display: none;
}

.mobileMenu {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 18px 25px;
    font-size: 16px;
}

.mobileBox:hover {
    background-color: #808080;
    border: 1px solid #ccc;
}

section {
    padding: 20px 20px;
    margin-top: 20px;
    background-color: #cccccc6b;
}

.containForm {
    position: relative;
    width: 100%;
}

form input[type=text], form input[type=number], select {
    width: 50%;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form label {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 30px 10px 5px;
}

.btn-submit {
    background-color: #41a245;
    border-radius: 20px;
    border: #41a245 solid;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}

.invalid-feedback {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: red;
}

@media only screen and (max-width:720px) {
    .mobileBox {
        background-color: #999;
        border: 1px solid #ccc;
        padding: 0 1rem;
        margin: 1rem;
        display: block;
    }
    .menu {
        display: none;
    }
    .mobileList ul {
        flex-direction: column;
    }
    .mobileList li {
        border: 1px solid #ccc;
    }
}

.lightBox {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.ligthBoxContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
