<header>
  <div class="mobileBox">
    <input type="checkbox" id="checkMenu" [checked]='isChecked'>
    <label for="checkMenu" (click)='showHideMenu()'>
      <div class="mobileMenu">MENU</div>
    </label>
  </div>

  <nav class="menu" [hidden]='isChecked'>
    <ul>
      <li routerLink='home'>Home</li>
      <li *ngFor="let menu of menus" routerLink='{{menu.name}}'>{{ menu.name }}</li>
    </ul>
  </nav>
  <nav class="mobileList" [hidden]='!isChecked'>
    <ul>
      <li routerLink='home'>Home</li>
      <li *ngFor="let menu of menus" routerLink='{{menu.name}}'>{{ menu.name }}</li>
    </ul>
  </nav>
</header>
<section [hidden]='!isHidden'>
  <article>
    <app-home></app-home>
  </article>
</section>
<section [hidden]='isHidden'>
  <article>
    <h1>Hola, bienvenido!</h1>
    <p>Sabemos que quieres viajar en un <router-outlet></router-outlet>, por
      favor diligencia el
      siguiente formulario:</p>
  </article>
</section>
<section [hidden]='isHidden'>
  <article>
    <div class="containForm">
      <form name="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label for="full_name">Nombre Completo:*</label>
        <input type="text" formControlName="full_name" required>
        <div *ngIf="submitted && f.full_name.invalid" class="invalid-feedback">
          <div *ngIf="f.full_name.errors.required">Nombre Completo es requerido</div>
        </div>

        <label for="age">Edad:*</label>
        <input type="number" formControlName="age" min="18" max="100" required>
        <div *ngIf="submitted && f.age.invalid" class="invalid-feedback">
          <div *ngIf="f.age.errors.required">Edad es requerido</div>
          <div *ngIf="f.age.errors.min">Edad debe ser mayor o igual que 18</div>
          <div *ngIf="f.age.errors.max">Edad debe ser menor o igual que 100</div>
        </div>

        <label for="email">Email:*</label>
        <input type="text" formControlName="email" required>
        <div *ngIf="submitted && f.email.invalid" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email es requerido</div>
          <div *ngIf="f.email.errors.email">Email debe ser una direcci&oacute;n v&aacute;lida</div>
        </div>

        <label for="celphone">Celular:*</label>
        <input type="number" formControlName="celphone" required>
        <div *ngIf="submitted && f.celphone.invalid" class="invalid-feedback">
          <div *ngIf="f.celphone.errors.required">Celular es requerido</div>
        </div>
        <input type="hidden" formControlName="travel_in" required>
        <div *ngIf="submitted && f.travel_in.invalid" class="invalid-feedback">
          <div *ngIf="f.travel_in.errors.required">is travel es requerido</div>
        </div>
        <br><br>
        <button class="btn-submit">Enviar</button>
      </form>
    </div>
  </article>
</section>
<div class="lightBox" [hidden]='hiddenLigthBox'>
  <div class="ligthBoxContent">
    <p innerHtml={{message}}>{{ message }}</p>
  </div>
</div>